{% extends 'base.html.twig' %}

{% block title %}Mon compte - Antonin Fournet{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue dans votre compte {{app.user.firstname}}
<hr>
- <a href="{{ path('account_password') }}">Modifier mon mot de passe</a></br>
<hr>
{% endblock %}
