{% extends 'base.html.twig' %}

{% block title %}Biographie
{% endblock %}

{% block content %}
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="bio.js"></script>
		<link href="{{asset('assets/css/bio.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('assets/css/bio.css')}}">
	</head>
	<body>
	<h1>
		BIOGRAPHIE
	</h1>
	<div class="citation">
		<p>
			"Pas d'art sans création, pas d'art sans émotion."
		</p>
	</div>
	<div class="hr">
		<hr>
	</div>
	<div class="row">
		<div class="column">
			<div class="desciption">
				<p>
					Antonin Fournet, née en octobre 2000, artiste et étudiant en 4ème année aux Beaux-Arts de Tours, obtient sa licence en 2021. Il se focalise principalement sur le domaine de la peinture et de la sculpture. Il aime réutiliser des éléments plastiques et les modifier lors de la création de ses œuvres.
				</p>
				<p>
					Aimant la vie ainsi que la biologie, il se questionne sur les enjeux environnementaux actuel et porte un discours écologique qu’il transmet dans son art. Il s'intéresse et spécule sur un monde futur comme nous le montre son essaie, écrit lors de sa 3ème année, racontant l'histoire d'un astronaute qui découvre une planète recouverte de plastique et où la biologie ainsi que cette dernière sont en symbiose, comme si ces deux éléments avaient muté pour coexister.
				</p>
				<p>
					Étant un grand amateur de plante, il aime toute forme de vie, cela l'inspire beaucoup dans son travail. Il veut contribuer à sensibiliser les consciences par rapport aux enjeux environnementaux qui sont de plus en plus critique. Rêvant d'un monde où l'écologie évolue positivement, il vous invite avec générosité à découvrir son travail.
				</p>
			</div>
		</div>
		<div ="column">
			<div class="artist-wrapper">
				<img src="/uploads/Screenshot 2021-10-10 23.19.31.png" class="artist-image"/>
			</div>
		</div>
	</div>
	
	
	<div class="container">
  		<a href="/contact" class="button">CONTACT</a>
	</div>

	</body>
{% endblock %}
