{% extends 'base.html.twig' %}

{% block title %}Exposition
{% endblock %}

{% block content %}
	<head>


		<link href="{{asset('assets/css/exposition.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('assets/css/exposition.css')}}">
	</head>
<body>
<h1>Exposition à venir :</h1>

<main class='main'>

  <section class='left section'>

    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the gre</p>

  </section>

  <section class='right section'>
<a class="twitter-timeline" data-width="600" data-dnt="true"  data-tweet-limit="2"  href="https://twitter.com/FracCentre?ref_src=twsrc%5Etfw">Tweets by FracCentre</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

   
   
    	

  </section>

</main>

</body>
{% endblock %}
