@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 1px 0;
}

a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;

  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

.row{
  margin: 5px;
}

footer{
  background-color: #5c5c5c;
  background-image: -webkit-linear-gradient(150deg, #818181 35%, #a0a0a0 35%);
  min-height: 57px;
}

.text-center p-3{
  background-color: #5c5c5c;
  background-image: -webkit-linear-gradient(150deg, #818181 35%, #a0a0a0 35%);
  min-height: 57px;
}