.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 18px;
}

.float-custom {
    padding: auto;
}

.products-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
}

.products-item{
margin-top: 50px;
}

.products-item, .products-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.products-item, .products-price {
    font-size: 15px;
    font-weight: bold;

}








