.row{
	display: flex;
}

.column{
	flex: 2;
	padding-right: 5%;
}

.artist-image{
	max-height: 600px;
	max-width: 600px;
	object-fit: fill;
}

.citation{
	color: black; 
	font: italic 1.2em "Fira Sans", serif;
}
