@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
	--font-base: 'Nunito Sans', sans-serif;
	--font-heading: 'Jost', sans-serif;
	--font-logo: 'Bebas Neue', sans-serif;
	--color-base: #585858;
	--color-dark: #282828;
	--color-black: #1a1a1a;
	--border: 1px solid rgba(0, 0, 0, .1);
	--shadow: 0 0.5em 1.5em -0.5em rgba(0, 0, 0, .5);
	--transition: 0.35s ease all;
}

body {
background: linear-gradient( #1C0125, #DB6BE2, #b687b6 );
background-size: 2560px 1360px;
}

.row{
	color: white;
	display: flex;
	text-align: justify;
	width: auto;
	height: auto;
	line-height: 24px;
	font-weight: 300;
	font-size: 15px;
}

.column{
	flex: 2;
	padding-right: 2%;
	padding-left: 1%;
	padding-bottom: 2%;
}

.artist-image{
	max-height: 600px;
	max-width: 600px;
	object-fit: fill;
	padding-right: 2%;
	padding-left: 1%;
	padding-bottom: 25%;
}

.citation{
	color: rgb(221, 221, 221); 
	font: italic 1.2em "Fira Sans", serif;
}

h1 {
	color : white;
	font : 'Bebas Neue', sans-serif;
	font-family: var(--font-base);
}



.buttonC {
	flex: 1 1 auto;
	margin: 10px;
	padding: 15px;
	border: 2px solid #f7f7f7;
	color: #f7f7f7;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}
.buttonC:after {
	position: absolute;
	transition: 0.3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: #f7f7f7;
}
.buttonC:nth-of-type(2):after {
	left: 0;
}
.buttonC:nth-of-type(3):after {
	right: 0;
	left: auto;
}
.buttonC:nth-of-type(4):after {
	left: 0;
	bottom: auto;
	top: -3px;
	width: 100%;
}
.buttonC:nth-of-type(5):after {
	height: 120%;
	left: -10%;
	transform: skewX(15deg);
	z-index: -1;
}
.buttonC:hover {
	cursor: pointer;
}
.buttonC:hover:after {
	width: 100%;
	left: 0;
}
.buttonC:hover:nth-of-type(4):after {
	top: calc(100% - 3px);
}
.buttonC:hover:nth-of-type(5) {
	color: #5bcaff;
}
.buttonC:hover:nth-of-type(5):after {
	left: -10%;
	width: 120%;
}
.buttonC:hover:nth-of-type(6) {
	border-radius: 30px;
}
.buttonC:hover:nth-of-type(6):after {
	width: 0%;
}
.buttonC:hover:nth-of-type(7) {
	transform: scale(1.2);
}
.buttonC:hover:nth-of-type(7):after {
	width: 0%;
}
.buttonC:hover:nth-of-type(8) {
	box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}
.buttonC:hover:nth-of-type(8):after {
	width: 0%;
}
.buttonC:hover:nth-of-type(9) {
	box-shadow: 0px 0px 0px 3px #f7f7f7;
}
.buttonC:hover:nth-of-type(9):after {
	width: 0%;
}
