.row{
	display: flex;
	text-align: justify;
	width: auto;
	height: auto;
	line-height: 24px;
	font-weight: 300;
	font-size: 15px;
}

.column{
	flex: 2;
	padding-right: 5%;
}

.artist-image{
	max-height: 600px;
	max-width: 600px;
	object-fit: fill;
}

.citation{
	color: black; 
	font: italic 1.2em "Fira Sans", serif;
}
