

html {
	height: 100%;
  }
  body {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
	
  }
  
  .container-contact {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	padding: 40px;
	margin-top: 14%;
	margin-bottom: 15%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
  }
  
  .container-contact legend {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }
  
  .container-contact .form-group {
	position: relative;
  }
  
  .container-contact .form-group input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
  }
  .container-contact .form-group label {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
  }
  
  .container-contact .form-group input:focus ~ label,
  .container-contact .form-group input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 12px;
  }
  
  .container-contact form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
  }
  
  .container-contact a:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 100px #03e9f4;
  }
  
  .container-contact a span {
	position: absolute;
	display: block;
  }

  .c{
	font-size: 10px;
	margin-left: 14px;
	color : white;
	}


  