html {
	height: 100%;
  }
  body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background:  linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  }

form {
	padding-left: 50px;
}

.login-show{
	font-size: 12px;
	margin-left: 14px;
} 

h1 {
	margin-bottom: 43%;
   }


.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1050px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
	color: #fff;
  }

  .login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }

  .login-box p {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }

  .col-md-4 {
	  margin-left: -120px;
  }

  .col-md-8 {
	margin-top : 60px;
  }

  .image-ronde{
	margin-left: 20px;
	width : 100px; height : 100px;
	border: none;
	-moz-border-radius : 75px;
	-webkit-border-radius : 75px;
	border-radius : 75px;
  } 