html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-left: 20px;
  width: 50%;
  height: 100%;
}

.vid {
 
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}

h1 {
  padding-top: 20px;
  padding-left: 20px;
}