
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	height: auto;
  }
  body {

	font-family: sans-serif;
	background: linear-gradient(#ffffff, #16385f);
  }

*{
	margin: 5px;
	padding: 0;
	
}

.img-gallery {
	display: inline-flexbox;
}

footer{
	margin: -5px;
}

/*
figure {
	
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


*/










