

figure {
	
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}




/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}





div.myGallery {
	border: 2px solid rgb(0, 0, 0);
 }
 div.myGallery:hover {
	border: 1px solid rgb(0, 0, 0);
 }
 div.myGallery img {
	width: 100%;
	height: auto;
 }
 div.desc {
	padding: 20px;
	text-align: center;
 }
 .responsive {
	padding: 0 5px;
	float: left;
	width: 24.99999%;
 }
 @media only screen and (max-width: 700px) {
	.responsive {
	   width: 49.99999%;
	   margin: 5px 0;
	}
 }
 @media only screen and (max-width: 500px) {
	.responsive {
	   width: 100%;
	}
 }
 .clearfix:after {
	content: "";
	display: table;
	clear: both;
 }





