@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
 @keyframes fade-in {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes slide-in {
	 0% {
		 top: -300px;
	}
	 100% {
		 top: 0;
	}
}
 @keyframes scaleDown {
	 0% {
		 transform: scale(1);
	}
	 10% {
		 transform: scale(0.7);
	}
	 95% {
		 transform: scale(0.7);
	}
	 100% {
		 transform: scale(1);
	}
}
 @keyframes reveal-info {
	 0% {
		 height: 0;
	}
	 5% {
		 height: 350px;
	}
	 95% {
		 height: 350px;
	}
	 100% {
		 height: 0;
	}
}
 body {
	 margin: 0;
	 padding: 0;
	 background: #EDECEB;
}
 .container {
	 margin-bottom: 100px;
	 margin-top: 10px;
	 margin-left: auto;
	 margin-right: auto;
	 width: 1200px;
	 height: 700px;
	background-color: #E2E0DF;
	 font-size: 14px;
	 font-family: "Montserrat", sans;
}
 .container .container-inner {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: row;
	 justify-content: flex-start;
	 position: relative;
	 animation: fade-in 1.5s ease, slide-in 1.2s ease;
	 -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}
 .container .container-inner .main-content {
	 flex-basis: 50%;
	 order: 1;
	 align-self: center;
	 display: flex;
	 flex-direction: column;
}
 .container .container-inner .main-content .main-headings {
	 width: 100%;
	 align-self: center;
	 display: flex;
	 flex-direction: column;
	 animation: scaleDown 6s ease 2s;
	 -webkit-animation: scaleDown 6s ease 2s;
}
 .container .container-inner .main-content .main-headings #by-line {
	 width: 60%;
	 padding-bottom: 1px;
	 padding-left: 3px;
	 margin-left: 15px;
	 font-size: 85%;
	 border-bottom: 1px solid #757575;
	 font-style: italic;
}
 .container .container-inner .main-content .main-headings .heading {
	 margin-top: 20px;
	 margin-left: 80px;
}
 .container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2, .container .container-inner .main-content .main-headings .heading #heading3 {
	 margin: 0;
	 margin-top: -20px;
}
 .container .container-inner .main-content .main-headings .heading #heading1, .container .container-inner .main-content .main-headings .heading #heading2 {
	 font-size: 500%;
	 font-weight: normal;
	 letter-spacing: -2px;
}
 .container .container-inner .main-content .main-headings .heading #heading1 {
	 margin-left: 50px;
}
 .container .container-inner .main-content .main-headings .heading #heading2 {
	 margin-left: 150px;
}
 .container .container-inner .main-content .main-headings .heading #heading3 {
	 margin-top: -52px;
	 font-size: 1100%;
	 font-weight: 800;
	 letter-spacing: 2px;
}
 .container .container-inner .main-content .main-headings .short-bio {
	 width: 60%;
	 margin-top: -30px;
	 margin-left: 90px;
	 font-style: italic;
	 font-size: 105%;
}
 .container .container-inner .main-content .main-headings a {
	 margin-left: 92px;
	 align-self: flex-start;
	 font-weight: bold;
	 font-size: 120%;
	 font-family: helvetica;
	 text-decoration: none;
	 color: black;
}
 .container .container-inner .main-content .main-headings a:hover {
	 text-decoration: underline;
}
 .container .container-inner .main-content .more-info {
	 margin-top: -70px;
	 width: 50%;
	 height: 0;
	 margin-left: auto;
	 margin-right: auto;
	 align-self: flex-start;
	 overflow: hidden;
	 animation: reveal-info 4s ease 3s;
	 -webkit-animation: reveal-info 4s ease 3s;
}
 .container .container-inner .image-wrapper {
	 flex-basis: 50%;
	 order: 2;
}
 .container .container-inner .image-wrapper .image-container {
	 width: 400px;
	 height: 700px;
	 overflow: hidden;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 animation: scaleDown 6s ease 2s;
	 -webkit-animation: scaleDown 6s ease 2s;
}
 .container .container-inner .image-wrapper .image-container img {
	 width: 100%;
	 height: auto;
	 position: relative;
}
 @media (min-width: 350px) and (max-width: 529px) {
	 * {
		 animation-name: none !important;
	}
	 .container {
		 width: 90%;
		 height: 700px;
		 margin-left: auto;
		 margin-right: auto;
		 font-size: 5px;
		 margin-bottom: 20px;
	}
	 .container-inner {
		 flex-direction: column !important;
		 justify-content: center !important;
	}
	 .main-content, .image-wrapper {
		 flex-basis: 100% !important;
	}
	 .main-content {
		 order: 2 !important;
		 outline: 1px solid red;
		 margin: 0 50px;
	}
	 .image-wrapper {
		 order: 1 !important;
	}
	 .heading {
		 margin-left: 55px !important;
	}
	 #heading1, #heading2 {
		 margin: 0;
		 margin-top: -5px !important;
	}
	 #heading2 {
		 margin-left: 100px !important;
	}
	 #heading3 {
		 margin-top: -20px !important;
	}
	 .short-bio {
		 margin-top: -10px !important;
		 margin-left: 60px !important;
	}
	 .more-info {
		 height: 150px !important;
		 width: 60% !important;
		 margin: 0 !important;
		 align-self: flex-start !important;
		 margin-top: 0px !important;
		 margin-left: 60px !important;
		 font-size: 8px;
	}
	 .link {
		 display: none;
	}
	 .image-wrapper {
		 order: 1 !important;
		 width: 100%;
		 height: 100px !important;
		 justify-content: center !important;
	}
	 .image-container {
		 width: 100% !important;
		 height: 400px;
		 margin-left: auto;
		 margin-right: auto;
		 position: relative;
		 top: 50%;
		 transform: translateY(-50%);
	}
	 img {
		 width: 80% !important;
		 height: auto !important;
		 top: -20px;
		 margin-left: auto;
		 margin-right: auto;
	}
}
 @media (min-width: 530px) and (max-width: 699px) {
	 * {
		 animation-name: none !important;
	}
	 .container {
		 width: 90%;
		 height: 900px;
		 margin-left: auto;
		 margin-right: auto;
		 font-size: 8px;
	}
	 .container-inner {
		 flex-direction: column !important;
		 justify-content: center !important;
	}
	 .main-content, .image-wrapper {
		 flex-basis: 100% !important;
	}
	 .main-content {
		 width: 80%;
		 order: 2 !important;
		 align-self: center !important;
	}
	 .main-headings {
		 width: 100%;
		 margin-top: 20px;
		 margin-left: auto;
		 margin-right: auto;
	}
	 .heading {
		 margin-left: 55px !important;
	}
	 #heading1, #heading2 {
		 margin: 0;
		 margin-top: -15px !important;
	}
	 #heading3 {
		 margin-top: -30px !important;
	}
	 .short-bio {
		 margin-top: -20px !important;
		 margin-left: 60px !important;
	}
	 .link {
		 display: none;
	}
	 .more-info {
		 height: 150px !important;
		 width: 60% !important;
		 margin: 0 !important;
		 align-self: flex-start !important;
		 margin-top: 0px !important;
		 margin-left: 60px !important;
		 text-align: justify;
	}
	 .image-wrapper {
		 order: 1 !important;
		 width: 100%;
		 height: 400px;
		 justify-content: center !important;
	}
	 .image-container {
		 width: 100% !important;
		 height: 400px;
		 margin-left: auto;
		 margin-right: auto;
	}
	 img {
		 width: 80% !important;
		 height: auto !important;
		 top: -20px;
		 margin-left: auto;
		 margin-right: auto;
	}
}
@include tablet {
	 .container {
		 width: 100%;
		 height: auto;
		 font-size: 7px;
	}
	 #heading3 {
		 margin-top: -35px !important;
	}
	 .link {
		 margin-left: 30px;
	}
	 .more-info {
		 margin-top: -40px !important;
	}
}
 
 @media (min-width: 700px) and (max-width: 1200px) {
	 .container {
		 width: 100%;
		 height: auto;
		 font-size: 9px;
	}
	 #heading3 {
		 margin-top: -35px !important;
	}
	 .link {
		 margin-left: 30px;
	}
	 .more-info {
		 margin-top: -40px !important;
	}
}
 









.image {
	background: url("/uploads/128928802_3449789141741548_8434449610011243469_n.jpg") no-repeat fixed;
	background-position: center center;
	background-size: cover;
	min-height: 500px;
  }
  .content {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	z-index: 2;
	height: 100%;
  }













  
  #scroll-wrapper {
	display: table;
	width:100%;
	height:100%;
  }
  
  #scroll-wrapper-inner {
	display: table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
  }
  
  #scroll-down1 {
	  display: block;
	  position: relative;
	  padding-top: 79px;
	  text-align:center;
  }
  
  #scroll-title {
	  display: block;
	  text-transform: uppercase;
	  color: black;
	font-family: "raleway";
	font-size:14px;
	font-weight:bold;
	letter-spacing:0.4em;
	 text-align:center;
	 transform: rotate(90deg);
	margin-bottom: 45px;
  }
  #scroll-down1::before {
	  -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	  /* Safari 4+ */
	  
	  -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	  /* Fx 5+ */
	  
	  -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	  /* Opera 12+ */
	  
	  animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
	  /* IE 10+, Fx 29+ */
	  
	  position: absolute;
	  top: 0px;
	  left: 50%;
	  margin-left: -1px;
	  width: 2px;
	  height: 90px;
	  background: black;
	  content: ' ';
  }
  @-webkit-keyframes elasticus {
	  0% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
	  50% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  50.1% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  100% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
  }
  @-moz-keyframes elasticus {
	  0% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
	  50% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  50.1% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  100% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
  }
  @-o-keyframes elasticus {
	  0% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
	  50% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  50.1% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  100% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
  }
  @keyframes elasticus {
	  0% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
	  50% {
		  -webkit-transform-origin: 0% 0%;
		  -ms-transform-origin: 0% 0%;
		  -moz-transform-origin: 0% 0%;
		  -o-transform-origin: 0% 0%;
		  transform-origin: 0% 0%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  50.1% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  -moz-transform: scale(1, 1);
		  -o-transform: scale(1, 1);
		  transform: scale(1, 1);
	  }
	  100% {
		  -webkit-transform-origin: 0% 100%;
		  -ms-transform-origin: 0% 100%;
		  -moz-transform-origin: 0% 100%;
		  -o-transform-origin: 0% 100%;
		  transform-origin: 0% 100%;
		  -webkit-transform: scale(1, 0);
		  -ms-transform: scale(1, 0);
		  -moz-transform: scale(1, 0);
		  -o-transform: scale(1, 0);
		  transform: scale(1, 0);
	  }
  }








  











/* ====== MIXINS ===== */
.poster__heading, .poster__subheading {
	text-align: center;
}
.poster__heading {
	margin: 0 auto;
}
html {
	font-family: 'Open Sans';
	font-size: 100%;
}
@media screen and (min-width: 31.25em) {
	html {
		font-size: 105%;
   }
}
@media screen and (min-width: 50em) {
	html {
		font-size: 115%;
   }
}
@media screen and (min-width: 75em) {
	html {
		font-size: 125%;
   }
}
.btn--primary, .btn--comments {
	display: inline;
	text-decoration: none;
	padding: 0.45em 1.25em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 0.75rem;
	border-radius: 25px;
	color: rgb(226, 218, 218);
	font-family: 'Open Sans';
	transition: all 250ms ease;
}
.btn--primary {
	border: 1px solid rgb(109, 106, 106);
}
.btn--primary:hover {
	background-color: rgb(196, 195, 195);
	color: black;
}
.poster {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-image: url(http://images.unsplash.com/photo-1505526484636-f0a465cf6d19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cddf9a77dd105083a255db9c99db753a&auto=format&fit=crop&w=2000&q=80);
   /*url("http://codepen.vincebrown.me/assets/images/snow-mountains.jpg");
   */
}
.poster__heading {
	width: 95%;
	color: white;
	padding-top: 5.5rem;
	font-weight: 600;
	font-size: 2em;
	transition: all 400ms ease;
}
@media screen and (min-width: 31.25em) {
	.poster__heading {
		font-size: 2.25em;
   }
}
@media screen and (min-width: 50em) {
	.poster__heading {
		font-size: 2.75em;
   }
}
.poster__subheading {
	display: block;
	font-size: 0.3em;
	letter-spacing: 5px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ff9639;
	padding-top: 0.8em;
	margin-bottom: 0.6em;
}
.btn--comments {
	background-color: rgba(255, 255, 255, .4);
	border: none;
	font-size: 0.6em;
}
.btn--comments:hover {
	background-color: rgba(255, 255, 255, .6);
}
.timeline-wrapper {
	position: relative;
	padding-bottom: 160px;
	background: linear-gradient(#000 10%, #283048 50%, #55679a 70%, rgba(255, 255, 255, 0));
}
.timeline-wrapper:after {
	content: '';
	display: block;
	background-image: url('http://images.unsplash.com/photo-1507229272286-db6f7c138ec8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e62bec22c2b24c686de489c71e11a032&auto=format&fit=crop&w=2250&q=80');
   /*http://codepen.vincebrown.me/assets/images/white-mountains.jpg*/
	height: 1400px;
	width: 100%;
	background-size: cover;
	position: absolute;
	background-position: 25% center;
	z-index: -10;
	bottom: 0;
}
.svg-timeline {
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
}
.timeline {
	transition: all 250ms ease;
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width: 31.25em) {
	.timeline {
		width: 80%;
   }
}
@media screen and (min-width: 50em) {
	.timeline {
		width: 95%;
   }
}
.timeline__item {
	padding-top: 50px;
	margin-bottom: 60px;
	max-width: 45%;
	clear: both;
}
@media screen and (min-width: 50em) {
	.timeline__item {
		width: 40%;
   }
}
@media screen and (min-width: 31.25em) {
	.timeline__item {
		width: 43%;
   }
}
.timeline__day {
	font-weight: 600;
	font-size: 0.9em;
	color: white;
	text-transform: uppercase;
	padding-bottom: 0.75em;
	line-height: 1.5;
}
.timeline__day span {
	font-weight: 300;
	color: orange;
	text-transform: none;
}
.timeline__day-sum {
	color: white;
	font-weight: 300;
	font-size: 0.8em;
	display: block;
	margin-bottom: 1.5em;
	line-height: 1.5;
}
.timeline__item:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	background-color: #ff0;
	border: 1px solid #fff;
	left: calc(50% - 7px);
	position: absolute;
	z-index: 9;
}
.timeline__item.active:before {
	background-color: #ff0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
