.navbar{
    background:linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    
}

h1{
    padding-left: 2%;

}

li{
    padding-left: 2%;

}

form{
    padding-left: 2%;

}

a{
    padding-left: 2%;

}