
  body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background:linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  height: 1150px;
}
footer {margin-top: 5%;}

h1 {
 margin-bottom: 40%;
}

.form-group{
	width: 400px;
}

.login-show{
	font-size: 10px;
	margin-left: 14px;
	padding-left: 20%;
	margin-top: -57px;
	color: rgb(255, 255, 255);
}

.login-box {
	position: relative;
	top: 30%;
	left: 50%;
	
	width: 500px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
	color: #fff;
	height: 700px;
  }

  .login-box h2 {
	
	color: #fff;
	text-align: center;
  }

  header { 

	padding-bottom: 30px;
	  
  }