{% extends 'base.html.twig' %}
{% block title %}
	Inscription
{% endblock %}
{% block content %}

	<link href="{{asset('assets/css/register.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/register.css')}}">


	<div class="login-box">
		<h2>
		Inscription
		</h2>
		<p>
			{{form(form)}}
			</p>
	
			<div class="login-show">
				<a href="/connexion">Déjà un compte ?</a>
			</div>
		</p>
	</div>


{% endblock %}
