{% extends 'base.html.twig' %}
{% block content %}

	<h1>
		Inscription
	</h1>

	<link href="{{asset('assets/css/register.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/register.css')}}">


	<body>
		<p>
			{{form(form)}}
			</p>
			<div class="login-show">
				<a href="/connexion">Déjà un compte ?</a>
			</div>
		</p>
	</body>

{% endblock %}
