{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block content %}

<html>

	<header class="site-header">

   		<link href="{{asset('assets/css/gallerie.css')}}" rel="stylesheet">
    	<link rel="stylesheet" href="{{asset('assets/css/gallerie.css')}}">
		
		<div class="container row">
		<h1 class="site-brand">
			<a href="#">La Gallerie - Antonin - Fournet</a>
		</h1>
		</div>


<style>





</style>






	</header>

	
           
		{% for products in product %}

		  <div class = "responsive">
         <div class = "myGallery">
		 <div class="hover13 column">
		
            <figure><a href="{{ path('products', { 'slug' : products.slug }) }}"><img src="/uploads/{{products.illustration}}" class="w3-hover-opacity" /> </a></figure>
			</div>
    	 </div>
		  </div>	
	    {% endfor %}
    
    

{% endblock %}
