{% extends 'base.html.twig' %}

{% block title %}
	Gallerie - Antonin Fournet
{% endblock %}

{% block content %}

	<html>
		<h1 class="site-brand">
			<a href="#">La Gallerie - Antonin - Fournet</a>
		</h1>
	</html>

	<div class="row">


		{% for products in product %}

			<article class="marginauto">

				<div class="marginau">

					<figure>
						<a href="{{ path('products', { 'slug' : products.slug }) }}">
							<img class="marginau" src="/uploads/{{products.illustration}}" width="300px" height="200px" alt="centered image"/>
						</a>
					</figure>

				</div>


			</article>
		{% endfor %}

		<script src="{{asset('assets/js/gallerie.js')}}"></script>
	</div>
{% endblock %}
