{% extends 'base.html.twig' %}

{% block title %}
	Galerie - Antonin Fournet
{% endblock %}

{% block content %}

	<html>
	<head>
		<h1 class="site-brand">
			<a href="#">La Galerie - Antonin - Fournet</a>
		</h1>
	
	
			<link rel="stylesheet" href="{{asset('assets/css/gallerie.css')}}">

	</head>
	<body>

<div class="img-gallery">

<div class="hover13 column">

		{% for product in product %}

			

				
						<a href="{{ path('product', { 'slug' : product.slug }) }}">
							<img src="/uploads/{{product.illustration}}"width="300px" height="200px" />
						</a>
					

				


		{% endfor %}
	
		</div>

</div>
	
		<script src="{{asset('assets/js/gallerie.js')}}"></script>
	
	</html>
</body>
{% endblock %}
