{% extends 'base.html.twig' %}

{% block title %}
	Les Cours - Antonin Fournet
{% endblock %}

{% block content %}
	<head>
		<script src="cours.js"></script>
		<link href="{{asset('assets/css/cours.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('assets/css/cours.css')}}">


	</head>

	<body>

	<h1>

	</h1>

    <div class="login-box">
		<h2>
			Demander un cours:
		</h2>
		<div id="Appointment-Calendar">
			<form>
				Nom complet:
				<input type="text" name="title" placeholder="Entrer votre nom complet (ex: John Doe)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Full name (e.g: John Doe)'"/>
				Date:
				<input id="datePicker" type="date" name="date" value=""/>
				Heure de début:
				<input type="time" name="startTime" value="Start"/>
				Heure de fin:
				<input type="time" name="endTime" value="End"/>
				Email:
				<input type="email" name="email" placeholder="Johndoe@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Johndoe@gmail.co.uk'"/>
				Description:
				<br>
				<textarea name="details" form="form" placeholder="Expliquez ce que vous voulez étudier en priorité" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description goes here'"></textarea><br>
				<input type="submit" id="submit-button" value="Demander un cours">
			</form>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src="script.js"></script>
	</div>


	</body>
{% endblock %}
